<div class="body_chat">
<div class="wrapper">
<div class="title">We use Gitter</div>
<iframe class="chatframe" frameborder="0" src="https://gitter.im/codingamigos/chat/~embed"></iframe>
</div>
</div>
