<div class="body_info_singlepage">
  <section class="section_welcome">
    <div class="section_welcome_title">  Welcome to Coding Amigos</div><br><br>
    <div class="section_welcome_subtitle">CONNECT & COLLABORATE</div>
    <div class="section_welcome_subtitle">
      Coding Amigos is a community of professional developers. It is made for people who like what they do and are good at it.
    </div>
  </section>
  <section class="section_how_it_works">
    <div class="section_how_it_works_image"></div>
    <!-- <div class="section_how_it_works_title">How does it work?</div> -->
    <div class="section_how_it_works_title"><i class="fa fa-check-square-o"></i> Create a profile</div>
    <div class="section_how_it_works_title"><i class="fa fa-check-square-o"></i> Upload a portfolio</div>
    <div class="section_how_it_works_title"><i class="fa fa-check-square-o"></i> Connect</div>
  </section>
  <section class="section_our_team">
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title"><%= link_to "No profit", root_path %></div>
  </section>

 <section class="section_our_team">
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title"><%= link_to "Collaboration", new_lead_path %></div>
  </section>

   <section class="section_our_team">
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title"><%= link_to "Transparency", root_path %></div>
  </section>
  <section class="section_welcome">
    <div class="section_welcome_subtitle">Are your ready to get more and better clients? <%= link_to "Create your Profile & upload portfolio", new_user_registration_path %></div>
  </section>
</div>
