<div class="body_no_message">
<!-- <a class="to_address_book" href="/address_book"></a> -->
<div class="no_message_wrapper">
  <div class="no_message_title">
    Currently you have 0 new messages.
  </div>
  <div class="no_message_text">
    To start conversations with other professionals click "Contact me" on their profiles. When a client or other professional sends you a message, you will get notified via email.
  </div>

</div>
</div>
