
<div class="body_payment_confirmation">
<a class="to_address_book" href="/address_book"></a>
<div class="payment_confirmation_wrapper">
  <div class="payment_confirmation_title">
    Podatke o stranki najdete v Imeniku kontaktov.  
  </div>
  <div class="payment_confirmation_text">
   Ne pozabite - stranke iščejo zaupanja vrednega in profesionalnega izvajalca, ki se drži obljub in ki zna ponuditi pravo razmerje med ceno in kvaliteto.
  </div>

</div>
</div>


