<div class="body_info_singlepage">
  <br>
  <br>
  <section class="section_our_team">
    <br>
    <br>
    <br>
    <br>
    <i class="fa fa-heart"> Join us </i>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="section_our_team_title">Coding Amig@s</div>
    <div class="section_our_team_title">
      <a href="https://github.com/codingamigos"><i class="fa fa-github"></i></a>
      <a href="https://twitter.com/codingamigos"><i class="fa fa-twitter"></i></a>
      <a href="https://gitter.im/codingamigos/chat"><i class="fa fa-comment"></i></a>
    </div>
  </section>
</div>
