+below(650px)
  /* :::::::::::: APPLICATION.html.erb => menu buttons & login :::::::::::: */
  body
    margin 0px
    padding 0px
    .top_menu_bar
      position fixed
      top 0
      z-index 999
      width 100%
      background-color Menu-Top-Color
      blur-mixin(intensity =  0px)
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(255, 255, 255, 0.8);
      border-bottom 1px solid #ccc
      padding-top 3px
      font-family App-Font-Family
      .publish_project,
      .find-provider,
      .messages
        padding-bottom 3px
        font-size 11px
        -webkit-font-smoothing: antialiased
        font-weight bold
        display inline-block
      .publish_project
        shift 0.27
        button(Lead-Orange-dark)
        padding 8px 8px 8px 8px
        bottom 6px
        &:hover
          opacity 0.7
      .find_provider
        shift 0.27
        button(black)
        padding 8px 8px 8px 8px
        bottom 6px
        margin-left 4px
        &:hover
          opacity 0.7
        a
          text-decoration none
          color white
          font-size 11px
      .messages
        shift(-1/5)
        display: inline-block;
        font-size 17px
        bottom 2px
      .logo
        top 4px
        shift(1/20)
        height 37px
        display inline-block
        &:hover
          opacity 0.7
      .select_bar
        shift(0.09)
        display: inline-block;
        width: 113px;
        height: 20px;
        padding: 3px 3px;
        margin-bottom: 10px;
        font-size: 11px;
        line-height: 20px;
        color: #606060;
        vertical-align: middle;
        border: 0px
      .menu_bar_login
        shift(0.09)
        button(white)
        border 1px solid #606060
        padding 8px 8px 8px 8px
        bottom 6px
        &:hover
          opacity 0.7
          transition color .1s
        a
          text-decoration none
          color Menu-Top-Button-Color
      .info
        padding-bottom 2px
        shift(0.63)
        font-size 21px
        display inline-block
        .fa.fa-info-circle
          color Offer-Font-Color
          &:hover
            color Lead-Orange
